MONGODB_URL=mongodb://mongodb:27017/recordranger # MongoDB connection URL (you can change if needed)

PASSJWT=SomeComplexPassword
SESSION_SECRET=AnotherComplexSecret

# HTTPS Configuration
PROD=false # Change to true ONLY if you use HTTPS. If not, leave as false.

# RecordRanger
VINYL_PORT=3099 # Port for the RecordRanger service

# Base URL for serving on a sub-path, leave empty to serve from root (default)
BASE_URL= 

# Music
DISCOGS_TOKEN=YourDiscogsAPITokenHere

# Books
HARDCOVER_API_KEY=YourHardcoverAPIKeyHere

# DVDs
TMDB_API_KEY=YourTMDBAPIKeyHere

# Games
TWITCH_CLIENT_ID=YourTwitchClientIDHere
TWITCH_CLIENT_SECRET=YourTwitchClientSecretHere
